package views

templ Welcome(bodyHTML string) {
	@Layout("Welcome", welcomeBody(bodyHTML))
}

templ welcomeBody(bodyHTML string) {
	<div class="hero">
		<img class="hero-wordmark" src="/static/brand/wordmark.png" alt="Brivin" width="776" height="248"/>
		<span class="eyebrow">Owned by Zeke &amp; Farah. Managed by Kevin &amp; Brianna.</span>
	</div>
	@CardGrid(NavItems)
}
